.dark-mode{
    background-color:#121212;
    color:white;
}
p{
    font-size: 200%;
    background-color:purple;
    margin: 0 100px 0 100px;
    padding: 100px 0 100px 0;
}

.small-text{
    font-size: 50%;
}
.medium-text{
    font-size: 100%;
}
.large-text{
    font-size: 200%;
}




body{
    background-color: lightblue;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 500px;
}


.bigBoba{
    width: 750px;
}